.sortOptionBtn {
    height: 100%;
    background: #fff;
    border: 1px solid;
    width: 10rem;
}

.sortOptionBtn:hover {
    cursor: pointer;
    background: lightblue;
}

.activeSortOption {
    background: lightblue;
}